body {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Nunito Sans', sans-serif;
}
.container-fluid {
	padding: 0;
}
.header-navbar img {
	width: 25px;
	height: 25px;
}
.nav > li > a {
	font: 600 16px Montserrat;
	color: #000;
}
.nav > li > a:hover, .nav>li>a:focus {
	background-color: #eee0;
	color: #10c9c3;
}
nav {
	position: relative;
}
.banner-header {
	position: relative;
	background-image: url(images/banner.jpg);
	background-size: 100% 100%;
	/*background-position: 10% 30%;*/
}
.banner {
	padding: 220px 0;
}
.banner > .h1-title {
	font: 600 36px Montserrat;
}
.banner .description {
	font: 500 18px "Nunito Sans";
	color: #787878;
	margin: 10px 5px;
}
.banner .btn-contact {
	background-color: #10c9c3;
	border-radius: 0;
	color: #fff;
	font: 600 12px "Montserrat";
	padding: 20px 50px;
	margin: 10px 5px;
}
.banner .btn-contact:hover {
	background-color: #11aca7;
}
.about > .signature > img {
	width: 250px;
	height: 100px;
}
.about {
	position: relative;
	margin: 50px 0;
}
.about > .title-about {
	font: 600 30px Montserrat;
}
.about > .description-about {
	font: 400 16px "Nunito Sans";
}