body {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Nunito Sans', sans-serif;
}
.container-fluid {
	padding: 0;
}
.header-navbar img {
	width: 25px;
	height: 25px;
}
.nav > li > a {
	font: 600 16px Montserrat;
	color: #000;
}
.nav > li > a:hover, .nav>li>a:focus {
	background-color: #eee0;
	color: #10c9c3;
}
.banner {
	position: absolute;
	z-index: 1;
	bottom: 450px;
}
.bannner-position {
	position: absolute;
}
.img-banner {
	position: relative;
	z-index: -1;
	top: -50px;
	left: 0px;
	width: 100%;
}
.banner-position > .h1-title {
	font: 600 38px Montserrat;
}
main > .container-fluid:nth-child(1) .col-md-5 {
	padding: 0;
}
.banner-position > .description {
	font: 500 18px "Nunito Sans";
	color: #787878;
	margin: 10px 5px;
}
.banner-position > .btn-contact {
	background-color: #10c9c3;
	border-radius: 0;
	color: #fff;
	font: 600 12px "Montserrat";
	padding: 20px 50px;
	margin: 10px 5px;
}
.banner-position > .btn-contact:hover {
	background-color: #11aca7;
}
.about > .signature > img {
	width: 250px;
	height: 100px;
}
.about {
	margin-bottom: 50px;
}
.about > .title-about {
	font: 600 30px Montserrat;
}
.about > .description-about {
	font: 400 16px "Nunito Sans";
}